@tailwind base;
@tailwind components;
@tailwind utilities;

.hovered-scroll:active::-webkit-scrollbar-thumb,
.hovered-scroll:focus::-webkit-scrollbar-thumb,
.hovered-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.hovered-scroll::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scroll-slim::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #334155;
  background-clip: padding-box;
}

.scroll-slim::-webkit-scrollbar {
  border-radius: 20px;
  background-color: #94a3b8;
  width: 4px;
}

.hovered-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}